{{#each chats as |chat|}}
  {{#chat-message}}
    {{#paper-tile-left}}
      <img src={{chat.avatarUrl}} class="chat-avatar">
    {{/paper-tile-left}}
    {{#paper-tile-content}}
      <h3>{{chat.name}}</h3>
      <p>{{chat.says}}</p>
    {{/paper-tile-content}}
  {{/chat-message}}
{{/each}}
