{{#each chats as |chat|}}
  {{#chat-message}}
    {{#paper-tile-left}}
      <img src={{chat.avatarUrl}} class="chat-avatar">
    {{/paper-tile-left}}
    {{#paper-tile-content}}
      <h3 class="chat-message-by">{{chat.name}} <small>{{x-ago date=chat.when}}</small></h3>
      <h3 class="chat-message-text">{{chat.says}}</h3>
    {{/paper-tile-content}}
  {{/chat-message}}
{{/each}}
