{{#paper-item}}
  <img src={{player.user.avatarUrl}} class="chat-avatar md-avatar">
  <div class="md-list-item-text">
    <h3>{{player.user.username}}</h3>
    {{#link-to 'deck.index' player.deckId tagName="h4" class="link"}}{{player.deckName}}{{/link-to}}
  </div>
{{/paper-item}}
