{{#paper-item}}
  {{#paper-tile-left}}
    <img src={{player.user.avatarUrl}} class="chat-avatar">
  {{/paper-tile-left}}
  {{#paper-tile-content}}
    <h3>{{player.user.username}}</h3>
    <h4>{{player.deckName}}</h4>
  {{/paper-tile-content}}
{{/paper-item}}
