{{#paper-item}}

  {{#paper-tile-left classNames="game-listing-matchup"}}
    {{game-listing-player player=game.playerOne}}
    <span>vs.</span>
    {{game-listing-player player=game.playerTwo}}

    <span>{{game.watchers.length}} watching</span>
  {{/paper-tile-left}}

  {{#paper-tile-content}}
    {{#link-to 'game' game.id}}
      {{#paper-button classNames="md-primary game-listing-join"}}Join Game{{/paper-button}}
    {{/link-to}}
  {{/paper-tile-content}}

{{/paper-item}}
