{{#paper-item}}
  {{#paper-tile-left}}
    <img src={{player.user.avatarUrl}} class="chat-avatar">
  {{/paper-tile-left}}
  {{#paper-tile-content}}
    <h3>{{player.user.username}}</h3>
    {{#link-to 'deck.index' player.deckId tagName="h4" class="link"}}{{player.deckName}}{{/link-to}}
  {{/paper-tile-content}}
{{/paper-item}}
