{{#paper-item}}
  {{#paper-tile-content}}
    <h3 class="game-listing-title">{{matchup}}</h3>
    {{#paper-button classNames="md-primary game-listing-join"}}Join Game{{/paper-button}}
  {{/paper-tile-content}}
{{/paper-item}}
