<span style="inline-block;">
  {{#each character in formattedCharacters}}
    {{#if character.isNumber}}
      <span>{{character.value}}</span>
    {{else}}
      <span {{bind-attr data-magic-icon=character.symbol
        title=character.description}}></span>
    {{/if}}
  {{/each}}
</span>
