{{#paper-card-content}}
  {{!-- The cards --}}
  <div class="sample-draw-chart-hand">
    {{#each sortedHand as |card index|}}
      <div class="card-spoiler card-spoiler-sample-hand card-spoiler-sample-hand-{{index}}">
        <img src={{card.imageUrl}} />
      </div>
    {{/each}}
  </div>
  <h3 class="chart-card-title">
    Sample Draw
    <div class="chart-card-title-actions">
      <div class="chart-card-title-action">
        {{#x-paper-button action="refresh"}}
          {{paper-icon icon="refresh" size="lg" title="New Hand"}}
        {{/x-paper-button}}
      </div>
    </div>
  </h3>
{{/paper-card-content}}
