{{#paper-item}}
  {{paper-icon icon="check-circle-blank"}}
  <h3>{{presence.user.username}}</h3>
  {{#unless isActive}}
    <h4>{{lastSeenLabel}} {{from-now presence.lastSeen includeSuffix=isOffline}}</h4>
  {{/unless}}
{{/paper-item}}
