{{#if label}}
  <label for={{inputElementId}}>{{label}}</label>
{{/if}}

{{input class="md-input" id=inputElementId
  placeholder=placeholder type=type value=value focus-in="focusIn" key-down="keyDown" focus-out="focusOut" disabled=disabled required=required autofocus=autofocus enter="onEnter"}}
