<div class="game-board-container">
  <div class="game-zones">
    <div class="zone exile">
      <h5>Exile</h5>
    </div>

    <div class="zone graveyard">
      <h5>Graveyard</h5>
    </div>

    <div class="zone library">
      <h5>Library</h5>
    </div>

    <div class="zone hand">
      <h5>Hand</h5>
    </div>
  </div>

  <div class="battlefield">

    <div class="non-land">
    </div>

    <div class="land">
    </div>
  </div>
</div>
