@import "ember-paper";
@import "offcanvas";
@import "material-of-cards";
@import "magic-font";
@import "utils";


.sm-display {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.indent {
  position: relative;
  &.indent-1 {
    left: 20%;
  }
  &.indent-2 {
    left: 40%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.table-ellipsible {
  table-layout: fixed;
  td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.nav-avatar-container {
  padding-bottom: 0px!important;

  .fa-caret-down {position: relative; bottom: 3px;}

  .img {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 3px;
    margin-right: 5px;
  }
}

.list-demo .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
