.card-spoiler {
  img {
    width: 150px;
  }

  @media screen and (min-width: 768px) {
    img {
      width: 225px;
    }
  }
}

.deck-table {
  position: relative;

  .card-spoiler {
    display: none;
  }

  .card-spoiler-pointer {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .card-spoiler {
      display: block;
      position: absolute;
      top: 50%;
      right: -235px;
      transition: top 0.25s;
      z-index: 99;
    }

    .card-spoiler-pointer {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right:6px solid black;
      right: -10px;
      top: 50%;
      transition: top 0.25s;
      z-index: 99;
    }
  }
}

.mana-curve-chart {
  display: flex;
  align-items: flex-end;
  position: relative;

  .card-spoiler {
    position: absolute;
    left: 50%;
    top: -220px;
    transform: translateX(-50%);
    z-index: 1;

    // By default, show a little arrow on the bottom pointing at the chart.
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid black;
      left: 50%;
      transform: translateX(-50%);
      bottom: -6px;
      z-index: 99;
    }

    @media screen and (min-width: 768px) {
      left: -250px;
      top: -40px;
      transform: none;

      // Adjust the arrow to point right.
      &:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 0;
        border-left: 6px solid black;
        top: 50%;
        bottom: auto;
        left: auto;
        right: -6px;
        transform: translateY(-50%);
      }
    }
  }
}

.card-spoiler {
  display: inline-block;
  border-radius: 5px;
  // Include this so we don't get a blank outline while an image loads.
  background-color: black;

  img {
    border-radius: 5px;
  }
}

.mana-curve-chart-bar {
  width: 60px;
  margin-top: 20px;
  text-align: center;
  flex-grow: 1
}

.mana-curve-chart-label {
  margin-top: 20px;
  border-top: 1px solid map-get($primary-color-palette, '500');
}

.lil-card-stack {
  &:hover, &:focus {
    .lil-card {
      box-shadow: 0 0 8px 4px map-get($primary-color-palette, '300');
    }
  }
}

.lil-card {
  position: relative;
  width: 16px;
  height: 22px;
  margin: -15px auto;
  border: 1px solid map-get($color-grey, '800');
  transform: rotateX(40deg) rotateZ(30deg) skewX(-20deg);
  // Hack to make firefox antialias rotated elements.
  outline: 1px solid transparent;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 28px;
  }
}

//
// Colors for lil-card
//
.lil-card-white {
  background-color: map-get($color-yellow, '50');
}

.lil-card-green {
  background-color: map-get($color-green, '300');
}

.lil-card-blue {
  background-color: map-get($color-blue, '300');
}

.lil-card-black {
  background-color: map-get($color-grey, '700');
}

.lil-card-red {
  background-color: map-get($color-red, '300');
}

.lil-card-colorless {
  background-color: map-get($color-grey, '300');
}

.lil-card-multicolored {
  background-color: map-get($color-amber, '300');
}

.titled-card {
  max-width: 600px;
  margin: auto;
}

h3.chart-card-title {
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: 16px;
  margin-bottom: -16px;
  padding: 16px;
  background-color: map-get($primary-color-palette, '500');
  color: white;

  .chart-card-title-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
  }

  .chart-card-title-action {
    height: 100%;
    padding: 8px 0;
    float: right;
  }
}

.sample-draw-chart-card-filler {
  position: relative;
  max-width: 500px;
  height: 513px;
  margin: auto;
}

.card-spoiler-sample-hand {
  position: absolute;
  top: 16px;
  left: 16px;
}

@for $i from 0 through 6 {
  .card-spoiler-sample-hand-#{$i} {
    top: 32px * $i;
    left: calc((100% - 225px) * #{$i} / 6);
  }
}
