.mana-curve-chart {

}

.mana-curve-chart-bar {
  display: inline-block;
  width: 20px;
  margin: 0 -2px;
  text-align: center;
}

.mana-curve-chart-label {
  border-top: 1px solid map-get($primary-color-palette, '900');
}

.lil-card-stack {

}

.lil-card {

}
