@mixin avatar {
  margin: 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.chat-avatar {
  @include avatar;
  width: 60px;
}

@media screen and (min-width: 850px) {
  .chat {
    left: 257px;
  }
}

@media screen and (max-width: 849px) {
  .chat {
    left: 0
  }
}
.chat {
  position: fixed;
  top: 52px;
  padding-left: 5px;
  bottom: 0;
  right: 0;
}

.chat-title {
  margin-left: 16px;
}

.chat-pane {
  width: 75%;
  height: calc(100% - 133px);
  overflow-y: auto;
  float: left;
}

.chat-input {
  float: left;
  width: calc(100% - 32px);
  margin-left: 16px;

  input {
    width: 100%;
  }
}

.chat-message-by {
  color: #999;
}

.active-user-list {
  width: 25%;
  height: calc(100% - 133px);
  padding: 5px;
  float: left;
  overflow-y: auto;
}

.user-avatar {
  @include avatar;
  width: 40px;
}

.user-idle {
  .user-avatar {
    opacity: 0.6;
  }
}
.user-offline {
  .user-avatar {
    opacity: 0.3;
  }
}

.user-offline {
  color: #AAA;
}
