.deck-chooser {
  height: calc(100% - 150px);
  padding-left: 10px;
  overflow-y: auto;
  list-style: none;
}

.deck-option {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
  background-position: 50% 19%;
  float: left;
  cursor: pointer;
}

.deck-option-selected {
  box-shadow: 0 0 20px map-get($primary, '900');
}

.deck-option-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 10px 0 10px 15px;
}
