.deck-header {

  h2 {
    margin: 0;
  }

  img.avatar {
    margin-left: 0;
  }
}

.deck-image-frame {
  @extend .avatar;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: 50% 19%;
  background-size: 200%;
}
