md-item-content {
  background: #fff;
  &.is-expanded {
    height: auto;
  }
}
md-list-item {
  background: #fff;
  .md-secondary-container {
    &.right-48 {
      right: 48px;
    }
  }
}

md-input-group {
  &.width-100 {
    input {
      width: 100%;
    }
  }
}

.md-tile-left {
  align-self: flex-start;
}

.md-toolbar-tools {
  h2 {
    width: 100%;
  }
}

md-card {
  md-card-content {
    background-color: white;
  }
}

md-toolbar {
  &.md-default-theme {
    color: rgba(255,255,255,.87);
    .md-button, md-icon {
      color: rgba(255,255,255,.87);
    }
  }
}

.md-button {
  &.md-default-theme {
    &.md-primary.md-raised {
      color: rgba(255,255,255,.87);
    }
  }
}

md-list {
  background-color: white;
}
