.d-f {display: flex;}

.jc-sb {justify-content: space-between;}

.fd-column { flex-direction: column; }

.fw-wrap { flex-wrap: wrap; }

.fb-sm { flex-basis: 174px; }

.fg-on { flex-grow: 1; }
.fg-off { flex-grow : 0; }

.fs-on { flex-shrink: 1; }
.fs-off { flex-shrink: 0; }
