.game-listing-matchup {
  display: flex;
  align-items: center;
}

.game-listing-join {
  margin-left: 20px;
}

.game-listing-deck-image {
  @extend .avatar;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: 50% 19%;
  background-size: 200%;
}
