@import "mixins/flex";
@import 'variables';

.game-board {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  &.show-chat {margin-right: 340px;}
  &.hide-chat {margin-right: 0;}
  &.show-left-column { left: 245px;}
  transition: margin, left 0.5s;
  .chat-chevron {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
  }
}

@media screen and (min-width: $locked-breakpoint) {
  .game-board {
    left: 254px;
  }
  .game-left-column {
    padding-left: 254px;
  }
}

.game-board-top,
.game-board-bottom {
  height: 50%;
}

.game-board-top {
  // TODO: replace with color scheme.
  border-bottom: 1px solid $grey-divider;
}

.game-left-column {
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: width 0.5s;
  border-right: 1px solid map-get($color-grey, '400');
  background: #f2f2f2;
  &.is-open {
    width: 245px;
  }
  .column-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .column-inner {
      position: relative;
      height: 100%;
      top: 64px;
      left: 0;
      margin: 0;
      padding: 8px;
      .column-header {
        height: 50px;
        padding: 10px 0;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        width: 100%;
      }
    }
  }
  .close-column {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
  }
}

game-board-container {
  @include flex();
  height: 100%;
  game-zones {
    width: 100px;
    height: 100%;
    game-zone {
      border-right: 1px solid $grey-divider;
      border-bottom: 1px solid $grey-divider;
      height: 25%;
      padding: 8px;
      display: block;
      position: relative;
      &.read-only {
        background-color: inherit!important;
        box-shadow: none!important;
        cursor: default!important;
      }
      &.show-drop {
        background-color: map-get($color-amber, '100');
        &.is-dragged-over {
          background-color: map-get($color-amber, '500');
        }
      }
      &.can-open {
        background-color: #ffffff;
        cursor: pointer;
        box-shadow: 2px 2px 2px 0 map-get($color-grey, '500');
        &:hover {
          background-color: map-get($color-grey, '300');
        }
        &.show-drop {
          background-color: map-get($color-amber, '100');
          &.is-dragged-over {
            background-color: map-get($color-amber, '500');
          }
        }
      }
      h5 {
        margin: 0 0 8px 0;
      }
      context-menu {
        position: absolute;
        top: 0;
        right: 0;
      }
      &.bottom {
        border-bottom: none;
      }
      &.right {
        border-right: none;
        border-left: 1px solid $grey-divider;
      }
    }
  }
  battle-field {
    width: calc(100% - 100px);
    &.show-drop {
      background-color: map-get($color-purple, '100');
      &.is-dragged-over {
        background-color: map-get($color-purple, '500');
      }
    }
  }
}

.game-board-bottom {
  position: relative;
}

.game-right-column {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f2f2f2;
  border-left: 1px solid map-get($color-grey, '400');
  transition: width 0.5s;
  &.show-chat {width: 340px;}
  &.hide-chat {width: 0px;}
}

.game-chat {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  .chat {
    position: relative;
    height: 100%;
    margin: 0;
    top: 64px;
    left: 0;
    padding-bottom: 25px;
    .chat-header {
      height: 50px;
      padding: 10px 0;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      width: 100%;
    }
  }
  .chat-pane {
    width: 100%;
    float: none;
    height: calc(100% - 163px);
  }
}
