.ml-0 {margin-left: 0!important;}
.ml-10 { margin-left: 10px!important;}
.ml-15 { margin-left: 15px!important;}

.mb-10 { margin-bottom: 10px!important; }

.mr-0 {margin-right: 0!important;}
.mr-5 {margin-right: 5px!important;}

.mt-10 {margin-top: 10px!important;}

.pb-10 {padding-bottom: 10px!important;}

.pt-10 {padding-top: 10px!important;}

.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}

.pr-10 {padding-right: 10px!important;}

.ta-l {text-align: left!important;}
.ta-c {text-align: center}

.jc-sb {justify-content: space-between;}

.link {
  cursor: pointer;
  color: map-get($color-light-blue, '800')!important;
  &:hover {
    color: map-get($color-light-blue, '900')!important;
  }
}

.has-hidden-hover {
  .on-hover { display: none;}
  &:hover {
    .on-hover { display: initial;}
  }
}

.bg-transparent {
  background-color: transparent;
}
