battle-field {
  position: relative;
  overflow-x: auto;
  .cards {
    padding: 16px 16px 16px 4px;
    position: absolute;
    white-space: nowrap;
  }
  .top-row {
    top: 0;
  }
  .bottom-row {
    bottom: 0;
  }
}
