context-menu {
  .is-open {
    background-color: map-get($color-grey, '400');
  }
  ul {
    padding: 3px;
    list-style: none;
    z-index: 1;
    background-color: #fff;
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 115px;
    li {
      padding: 3px;
      &:hover {
        background-color: map-get($color-grey, '300');
      }
    }
  }
}
