.game-cards {
  list-style: none;
  padding-left: 4px;
  white-space: nowrap;
  position: absolute;
  height: 100%;
  overflow-x: auto;
  left: 100px;
  top: 0;
  &.top {
    right: 100px;
    left: auto;
  }
}
