<div class="cards top-row">
  {{#each topCards as |gameCard|}}
    {{game-card
    cards=cards
    gameCard=gameCard
    dragStarted="dragStarted"
    dragEnded="dragEnded"
    tap="tap"}}
  {{/each}}
</div>

<div class="cards bottom-row">
  {{#each bottomCards as |gameCard|}}
    {{game-card
    cards=cards
    gameCard=gameCard
    dragStarted="dragStarted"
    dragEnded="dragEnded"
    tap="tap"}}
  {{/each}}
</div>
