{{#if isOpen}}

  <div class="column-container">
    <div class="column-inner">

      <div class="column-header">
        <strong>{{player.user.username}} - {{zone}}</strong>
      </div>

      {{#paper-button class="close-column" action="close" icon-button=true}}
        {{paper-icon icon="chevron-left"}}
      {{/paper-button}}

      {{#each sortedCards as |card|}}
        {{game-card
          cards=cards
          gameCard=card
          draggable=notReadOnly
          dragStarted="dragStarted"
          dragEnded="dragEnded"}}
      {{/each}}

    </div>
  </div>
{{/if}}
