<h3 class="toolbar-title">{{pageTitle}}</h3>

{{paper-button classNames="sm-display" action="toggleFiltersActive" label="Toggle Filters"}}

{{paper-button action="createNewDeck" label="Create"}}

{{paper-button action="importDeck" label="Import"}}
