{{#paper-toolbar classNames="mb-10"}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
  </h2>
{{/paper-toolbar}}

{{#paper-content id="infinity-window" classNames="md-padding"}}
  <div class="container-fluid">
    {{#paper-card}}
      {{#paper-card-content}}
        <p>Magic the Gathering, FNM is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. This site is <i>unaffiliated</i>. Comments are user-submitted and do not represent official endorsements of this site.</p>
      {{/paper-card-content}}
    {{/paper-card}}
  </div>
{{/paper-content}}
